.component-container {
    height: auto;
    width: 80%;
    display: block;
    overflow-x: hidden;
}

.graph-components-container {
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.graph-components-container>div.box-card>div.el-card__header {
    padding: 8px 20px;
    font-weight: 500;
    color: #525252;
    border-bottom: 1px solid #e0e0e0;
}

div.graph-components-container>div.box-card {
    margin: 20px 0px;
}

div.graph-components-container>div.box-card.row-presentation {
    width: 100%;
}

div.graph-components-container>div.box-card.half-row-presentation {
    height: 220px;
    width: 48%;
}

div.graph-components-container div.el-card {
    border: none;
    box-shadow: 6px 9px 6px -8px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width:643px) {
    div.graph-components-container>div.box-card.half-row-presentation {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) and (min-width: 321px) {
    .component-container {
        width: 95.5%;        
    }
}

@media only screen and (max-width: 320px) {
    .component-container {
        max-width: 302px;
        width: 100%;
    }
}