#app>.el-menu.main-navbar {
    position: relative;
    display: block;
    width: 10vh;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #30313f;
}

#app>.el-menu>.el-menu-item.home-button {
    border-radius: 60%;
    width: 40px;
    height: 40px;
    background-color: #1865fb;
    border: none;
    margin-left: 24px;
    margin-top: 5vh;
    padding: 0px;
}

#app>.el-menu>.el-menu-item.home-button>img {
    width: 40px;
    display: inherit;
}