div.graph-components-container>div.box-card {
    width: 100%;
}

div.graph-components-container>div.el-card {
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.12), 0 0px 6px 0 rgba(0,0,0,.04);
}

div.graph-components-container>div.box-card>div.el-card__header {
    padding: 8px 20px;
    font-weight: 500;
    color: #525252;
    border-bottom: 1px solid #e0e0e0;
}